<h3>Вывод статьи</h3>

<h1><%=@article.title %></h1>
<p>
  <%= @article.text %>
</p>
<p>


<!- обязательно добaвлять  data: { turbo: false } - так как изменились Релься, -->
<!- иначе не будет отображаться результат на странице -->
