<h1>поиск клиента по номеру а/м</h1>

<form class="d-flex row-cols-md-6" role="search" >
  <input class="form-control ms-2" type="search" placeholder="Поиск" aria-label="Поиск">
  <button class="btn btn-outline-danger" type="submit">Поиск</button>
</form>

