<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>


<table class="table table-bordered border-primary">
  ...
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Первый</th>
    <th scope="col">Последний</th>
    <th scope="col">Обработчик</th>
  </tr>
  </thead>
  <tbody class="table-group-divider" class="align-top">
  <tr>
    <th scope="row">1</th>
    <td>Mark</td>
    <td>Otto</td>
    <td>@mdo</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td colspan="2">Larry the Bird</td>
    <td>@twitter</td>
  </tr>
  </tbody>

</table>
