<h2>Список Брендов</h2>
<body>

  <% @brands.each do |brand| %>

  <table class="table table-bordered border-primary">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Бранд</th>
    </tr>
    </thead>

    <tbody class="table-group-divider" class="align-top">
    <tr>
      <th scope="row">1</th>
      <td><p class="text-danger"><%= brand.name %></p></td>
    </tr>
  </table>

      <p>
        <%= link_to  "Добавить Модель для Бренда", brand_path(brand) %> |
        <%= link_to  "Редактировать Бренд", edit_brand_path(brand) %> |
        <%= button_to "Удалить Бранд", brand_path(brand), method: :delete, data: { confirm: 'Действительно удалить?'} %>
      </p>
  <% end %>
</body>






